*,
*::after,
*::before {
    box-sizing: border-box;
}
button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    color: red;
}
body {
    background-color: black;
    margin-top: 130px;
}
#root {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 480px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.modal-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #e0e1e02b;
}
.modal {
    background-color: whitesmoke;
    border-radius: 8px;
    min-width: 250px;
    padding: 12px;
    text-align: center;
}
.hide {
    display: none;
}
.piece {
    cursor: pointer;
    width: 160px;
    height: 160px;
    border: 1px solid whitesmoke;
    text-align: center;
    font-size: 110px;
}